body {
    margin: 0;
    padding: 0;
    background-image: url('/assets/img/img-back.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
    font-family: Arial, sans-serif;
}



.div-nom {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

